.partners {
	.list-employees {
		display 		: flex;
		flex-wrap 		: wrap;
		justify-content : space-between;
		margin-bottom 	: 1.5em;
		@include resetlist();
	}

	.employee {
		margin 		: 0 1.5% 1.5em;
		text-align	: center;
		width 		: 31.33%;

		&:nth-child(3n+1) {
			margin-left: 0;
		}

		&:nth-child(3n+3) {
			margin-right: 0;
		}
	}
}